<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Connection_Db</servlet-name>
        <servlet-class>Children_Vax.Connection_Db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Children_Vax.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addChild</servlet-name>
        <servlet-class>Children_Vax.addChild</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>Children_Vax.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>childProfile</servlet-name>
        <servlet-class>Children_Vax.childProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadRecords</servlet-name>
        <servlet-class>Children_Vax.DownloadRecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAnotherChild</servlet-name>
        <servlet-class>Children_Vax.addAnotherChild</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAppointment</servlet-name>
        <servlet-class>Children_Vax.addAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelAppointment</servlet-name>
        <servlet-class>Children_Vax.cancelAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rescheduleAppoint</servlet-name>
        <servlet-class>Children_Vax.rescheduleAppoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyInfo</servlet-name>
        <servlet-class>Children_Vax.ModifyInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPassword</servlet-name>
        <servlet-class>Children_Vax.ModifyPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Children_Vax.DeleteAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connection_Db</servlet-name>
        <url-pattern>/Connection_Db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addChild</servlet-name>
        <url-pattern>/addChild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>childProfile</servlet-name>
        <url-pattern>/childProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadRecords</servlet-name>
        <url-pattern>/DownloadRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAnotherChild</servlet-name>
        <url-pattern>/addAnotherChild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAppointment</servlet-name>
        <url-pattern>/addAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelAppointment</servlet-name>
        <url-pattern>/cancelAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rescheduleAppoint</servlet-name>
        <url-pattern>/rescheduleAppoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyInfo</servlet-name>
        <url-pattern>/ModifyInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPassword</servlet-name>
        <url-pattern>/ModifyPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
</web-app>
